# Virtual Environment
venv/
env/

# Database Files
db.sqlite3
*.sqlite3-journal

# Compiled Python Files
*.pyc
__pycache__/

# Static and Media Files
/static/
/media/

# Environment Specific Configuration
.env
local_settings.py

# IDE and Editor Specific Files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Log Files
*.log